@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
  font-family: "Noto Serif JP", sans-serif;
}

a:link, a:visited, a:hover, a:active {
  color: #000000;
}

li {
  list-style: none;
}

.log-in input{
    width: 25%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    margin-bottom: 30px;
}

.login-input:focus {
    border: 2px solid #808080; 
    z-index: 10;
    outline: 0;
}

.button {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 23px;   /* 余白       */
  background    : #595959;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #595959;    /* 枠の指定 */
}

.button:hover{
  color         : #595959;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.log-in{
    text-align: center;
    padding: 30px;
}

.element{
    display: inline-block;
}

.header-logo {
    text-align:left;
    margin-left: 50px;
}

.header{
  background-color: #808080;
  color: #ffff;
  height: 120px;
  padding: 50px;
}

.drawer_menu a {
	color: inherit;
	text-decoration: none;
}

.drawer_menu a:visited {
	color: inherit;
}

/*+++ Default Button Color +++*/

.drawer_menu .drawer_button {
	color: #fff;
	/* ハンバーガーメニュー文字色 */
	display: none;
}

.drawer_menu .drawer_button .drawer_bar {
	background-color: #fff;
	/* ハンバーガーメニュー三本線の色 */
}

.drawer_menu .drawer_bg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	background-color: rgba(51, 51, 51, 0.5);
	display: none;
	top: 0;
	left: 0;
}

.drawer_menu .drawer_button {
	display: block;
	background-color: #555;
	color: #fff;
	border: none;
	padding: 5px;
	width: 50px;
	letter-spacing: 0.1em;
	cursor: pointer;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1001;
	text-align: center;
	outline: none;
}

.drawer_menu .drawer_button.active .drawer_bar {
	width: 40px;
}

.drawer_menu .drawer_button.active .drawer_bar1 {
	transform: rotate(30deg);
}

.drawer_menu .drawer_button.active .drawer_bar2 {
	opacity: 0;
}

.drawer_menu .drawer_button.active .drawer_bar3 {
	transform: rotate(-30deg);
}

.drawer_menu .drawer_button.active .drawer_menu_text {
	display: none;
}

.drawer_menu .drawer_button.active .drawer_close {
	display: block;
}

.drawer_menu .drawer_bar {
	display: block;
	height: 2px;
	margin: 8px 2px;
	transition: all 0.2s;
	transform-origin: 0 0;
}

.drawer_menu .drawer_text {
	text-align: center;
	font-size: 10px;
}

.drawer_menu .drawer_close {
	letter-spacing: 0.08em;
	display: none;
}

.drawer_menu .drawer_menu_text {
	display: block;
}

.drawer_menu .drawer_nav_wrapper {
	width: 250px;
	height: 100%;
	transition: all 0.2s;
	transform: translate(250px);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	background-color: #ffff;
	/* ドロワーメニュー内背景色 */
	overflow-x: hidden;
	overflow-y: auto;
}

.drawer_menu .drawer_nav {
	display: block;
	position: relative;
	margin-top: 40px;
}

.drawer_menu .drawer_nav li {
	background-color: #fff;
	height: auto;
	line-height: 50px;
	/*  ドロワーメニューリスト項目高さ */
	position: relative;
	border-bottom: 1px solid #eee;
}

.drawer_menu .drawer_nav li a {
	background-color: #fff;
	/* ドロワーメニューリスト背景色 */
	color: #555;
	/* ドロワーメニューリスト文字色 */
	display: block;
	text-align: left;
	padding-left: 20px;
}

/* 2階層目 */
/*
.drawer_menu .drawer_nav  ul.second-level {
	display: block;
}
*/

.drawer_menu .drawer_nav li ul.second-level {
	display: none;
	position: relative;
	padding: 0;
	z-index: 1001;
}

.drawer_menu .drawer_nav li ul.second-level li a {
	padding-left: 40px;
}

.drawer_menu .drawer_nav_wrapper.open {
	transform: translate(0);
}

.drawer_menu.left .drawer_button {
	right: auto;
	left: 32px;
}

.drawer_menu.left .drawer_nav_wrapper {
	transform: translate(-250px);
	right: auto;
	left: 0;
}

.drawer_menu.left .drawer_nav_wrapper.open {
	transform: translate(0);
}

.touch-btn {
	color: #555;
	position: absolute;
	top: .25rem;
	right: 2%;
	display: block;
	z-index: 10;
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	margin-top: 10px;
}


/*  ウィジェットタイトル */
.drawer-title {
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #555;
	/* ドロワーメニュー内タイトルライン背景色 */
	color: #808080;
}


.main {
  color: #000000;
}

.copy-container h1 {
  text-align:center;
  font-size: 80px;
}

.title h1{
  font-size: 70px;
}

.contents {
  width: 80%;
  margin: auto;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding: 15px 30px;
  margin-bottom: 50px;
}

.contents-item {
  padding: 40px;
  float: left;
  text-align:center;
  margin: auto;
}

.contents-item p {
  font-size: 15px;
  margin-top: 20px;
}

img.main{
    width: 100px;
    height: 100px;
}

.task-list{
    padding: 50px;
}

.lecture-list{
    padding: 80px;
}

.lecture-list li{
    float: left;
    padding-left: 80px;
}

.neartask-list{
    margin-top: 500px;
    padding: 50px;
}


.contact-form {
  padding-top: 100px;
  text-align: center;
}

/* inputとtextareaのCSSを指定してください */
.contact-form textarea {
    width: 60%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    margin-bottom: 40px;
}

.contact-form input{
    width: 60%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    margin-bottom: 40px;
}

.contact-submit {
  display       : inline-block;
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 23px;   /* 余白       */
  background    : #595959;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #595959;    /* 枠の指定 */
}

.contact-submit:hover{
  color         : #595959;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.footer {
  background-color: #808080;
  color: #fff;
  height: 100px;
  padding: 50px;
  margin-top: 100px; 
}

.footer-logo {
  float: left;
  font-size: 25px;
}

.footer-list {
  float: right;
  font-size: 15px;
}

.footer-list li {
  padding-bottom: 20px;
}


/* 1000px以上 */
@media screen and (min-width: 1001px){
    .contents-item {
        margin-left: 80px;
        padding: 40px;
        float: left;
        text-align:center;
    }
}

/* 1000px以下 */
@media screen and (max-width: 1000px){
}
